@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#d1b58030, #d1b58030), url("/bg.jpg");
  background-repeat: no-repeat; /* Prevent the image from tiling */
  background-size: cover; /* Make the image cover the entire screen */
  background-position: center center; /* Center the image */
  background-attachment: fixed;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
